:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --orange: #ffc861;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: cursive;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    position: relative;
    height: 100vh;
    background-color: var(--bg-body);
    color: var( --color-txt);
}

.caro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    box-sizing: border-box;
    padding: 20px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: var(--bg-main);
}

.caro-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.caro-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.caro-turn {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container div {
    height: 100px;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border-top: 1px solid var(--color-txt);
    border-left: 1px solid var(--color-txt);
}

.container div:nth-child(7),
div:nth-child(8),
div:nth-child(9) {
    border-bottom: 1px solid var(--color-txt);
}

.container div:nth-child(3),
div:nth-child(6),
div:nth-child(9) {
    border-right: 1px solid var(--color-txt);
}

.caro-win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100px;
    border-radius: 30px;
    background-color: rgb(146, 64, 64);
    text-align: center;
    color: var( --color-txt);
}

.caro-btn {
    outline: none;
    background: none;
    border: 1px solid #3bbd4b;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
    background-color: #3bbd4d;
    transition: ease-in 0.4s;
    cursor: pointer;
}

.caro-btn:hover {
    color: rgb(46, 46, 46);
    background: #fff;
}

.toggle {
    display: flex;
    justify-content: flex-end;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}