* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    position: relative;
    height: 100vh;
    background-color: #f3f8fe;
}

.caro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    box-sizing: border-box;
    padding: 20px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.caro-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.caro-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.caro-turn {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container div {
    height: 100px;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.container div:nth-child(7),
div:nth-child(8),
div:nth-child(9) {
    border-bottom: 1px solid #000;
}

.container div:nth-child(3),
div:nth-child(6),
div:nth-child(9) {
    border-right: 1px solid #000;
}

.caro-win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100px;
    border-radius: 30px;
    background-color: aliceblue;
    text-align: center;
}

.caro-btn {
    outline: none;
    background: none;
    border: 1px solid #3bbd4b;
    border-radius: 5px;
    padding: 5px 7px;
    color: #fff;
    background-color: #3bbd4d;
    transition: ease-in 0.4s;
    cursor: pointer;
}

.caro-btn:hover {
    color: rgb(46, 46, 46);
    background: #fff;
}
